/* All text in body should be font size 14px unless marked otherwise. */
body {
  font-size: 14px;
}

/* The navigation bar should span across the page and be yellow. */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

/* The section area should only take up 60% of the screen width. */
section {
  margin: 0 auto;
  width: 60%;
}

/* H1 headers should have sans-serif font family and a bigger font size. */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* H3 headers and headers with the class example should have padding on top and be centered. */
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

/* H3 headers should be font size 1.3em. */
h3 {
  font-size: 1.3em;
}

/* The element class should have a green background, 100px height, top and bottom margin of 10px and left and right margin of 0px. */
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
